h1, p{
    text-align: center;
}

.shreeya{
    text-decoration: overline;
    margin-top: 100px;
    color:#da0909;  

}
 
span { 
    text-decoration:overline;
    color:crimson;
    margin-left: 10px;
} 

.diva {
    background-color: rgb(235, 128, 190);
    color: white;
    border: 4px dashed rgb(41, 7, 233);
    border-radius: 25px;
    margin: 20px;
    padding: 20px; 
  } 
  .bikesh{ 
     text-decoration: dotted;
     color: #da0994;

  }


