input, select, label{
    margin: 15px;
}
h1{
    text-align:center;
    color: #0084FF;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: #d0d4d0;
    text-align: left;
    border: 1px solid rgba(46, 46, 46, 0.933);
    border-radius: 25px;
    margin-left: 700px; 
    margin-right: 700px; 
    opacity:1.2s;
    
   
}
p{
    color: #f5204b;
    margin: 15px;
}